Repository jruby-gradle/jruby-gradle-plugin, pull requests merged in 2019-05, with the labels that each got.

#340 use WorkResults.didWork() instead of deprecated SimpleWorkResult
  jruby-gradle-jar-plugin/src/main/groovy/com/github/jrubygradle/jar/internal/JRubyJarCopyAction.groovy
Labels: jar

#356 Sync JRubyJarCopyAction with the upstream/originating shadow code
  jar-plugin/build.gradle
  jar-plugin/src/main/groovy/com/github/jrubygradle/jar/JRubyJar.groovy
  jar-plugin/src/main/groovy/com/github/jrubygradle/jar/internal/JRubyDirInfoTransformer.groovy
  jar-plugin/src/main/groovy/com/github/jrubygradle/jar/internal/JRubyJarCopyAction.groovy
Labels: jar

#353 Making tests work on Appveyor again
  base-plugin/src/integTest/groovy/com/github/jrubygradle/JRubyPrepareGemsIntegrationSpec.groovy
  base-plugin/src/integTest/groovy/com/github/jrubygradle/JRubyPrepareJarsIntegrationSpec.groovy
  base-plugin/src/integTest/groovy/com/github/jrubygradle/testhelper/IntegrationSpecification.groovy
  base-plugin/src/main/groovy/com/github/jrubygradle/JRubyPrepare.groovy
  build.gradle
  gradle/codenarc.groovy
  jar-plugin/src/integTest/groovy/com/github/jrubygradle/jar/JRubyJarTestKitSpec.groovy
  jar-plugin/src/integTest/groovy/com/github/jrubygradle/jar/helpers/IntegrationSpecification.groovy
Labels: windows

#363 Add documentation and an example for jrubyArgs on the JRubyExec task
  base-plugin/README.adoc
  base-plugin/src/gradleTest/run-script-with-jruby-args
  examples/run-script-with-jruby-args/build.gradle
  examples/run-script-with-jruby-args/gradle/wrapper/gradle-wrapper.jar
  examples/run-script-with-jruby-args/gradle/wrapper/gradle-wrapper.properties
  examples/run-script-with-jruby-args/gradlew
  examples/run-script-with-jruby-args/gradlew.bat
  examples/run-script-with-jruby-args/print-script.rb
Labels: base, documentation

#362 Place the jrubyjar and prepareJrubyJar in the right group
  jar-plugin/src/main/groovy/com/github/jrubygradle/jar/JRubyJar.groovy
  jar-plugin/src/test/groovy/com/github/jrubygradle/jar/JRubyJarSpec.groovy
Labels: jar
